<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
</head>
<main>

    <body>
        <div>
            <h1>Create a new item</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <label>Task</label>
                <input type="text" name="name" value="">
                <br><br>
                <label>Due date</label>
                <input type="date" name="due_date" placeholder="YYYY-MM-DD">
                <br><br>
                <label>Is completed</label>
                <input type="checkbox" name="is_completed">
                <br><br>
                <label for="list">List</label>
                <select name="list">
                    something</select>
                <br><br>
                <button>Submit</button>
            </form>
        </div>
    </body>
</main>

</html>