<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update List</title>
</head>
<main>

    <body>
        <div>
            <h1>Update list</h1>
            <form method="post">
                {% csrf_token %}
                <label>Name</label>
                <input type="text" name="name" value="">
                <br><br>
                {{ edit_list.as_p }}
                <button>Update</button>
            </form>
        </div>
    </body>
</main>

</html>